.task-details-container{
    background-color: #444;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #eee;
}

.task-details-container h2{
    color: rgb(170, 175, 43);
}

.back-button-container{
    width: 30%;
    margin-top: 10px;
}